.container-fluid{
    max-width: 300px;
    min-width: 100px;
    max-height: 1300px;
    min-height: 560px;

    padding: 0%;
    margin: 30px auto;

    font-size: 20px;
    text-align: center;
    
}
/*Geral*/
.btn{
    width: 100%;
    height: 110PX;
    margin: 2px;
    padding: 0%;

    text-align: center;
}.col{
    padding: 0%;
}

/*Input e Submit =*/
#button-addon2{
    width: 100px;
    height: 70px;
    margin: 0;

    line-height: 70px;
}
input{
    float:right;
}

/*Bottoes numericos*/
.btn-light{
    width: 100%;

    text-align: center;
}
h5{
    margin: 0 auto;
    font-size: 50px;
}
h3{
    width: 224px;
    height: 70px;
    margin: 0 3px;

    text-align: right; 
    line-height: 70px;
}


